@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400&display=swap");

body {
  font-size: 20px;
  background: orange;
  font-family: "Gemunu Libre", sans-serif;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.titulo {
  font-size: 70px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.child {
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

.logoAlura {
}

.logoFCamara {
}